html, body{
    scroll-behavior: smooth;
    text-decoration-skip-ink: none !important;
    word-wrap: break-word;
    height: 100%;
}
.wrapper{
    height: 100%;
}
.bg-dark{
    background: black !important;
}
.nav-brand-text, .nav-brand-text:hover{
    font-size: 1.1rem;
    text-decoration: underline  0.4rem white;
    color: white;
}
.dropdown .nav-link{
    color: white;
    font-size: 1.1rem;
    text-decoration: underline  0.4rem transparent !important;
    transition: text-decoration-color 0.5s !important;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-toggle:hover, .dropdown-toggle:visited .dropdown-toggle:active .drodown-toggle:focus{
    font-size: 1.1rem;
    text-decoration-color: white !important;
    color: white !important;
}
.nav-item-text{
    font-size: 1.1rem;
    text-decoration: underline  0.4rem transparent;
    color: white !important;
    transition: text-decoration-color 0.5s;
}
.nav-item-text:hover, .nav-item-text:visited{
    text-decoration-color: white !important;
    color: white !important;
}

.subtitle{
    color: white;
    position: relative;
    font-size: 4.5em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
    padding-bottom: 0.5em;
}


.logo{
    width: 20em;
    margin:0;
    height: auto;
    position: relative;
}
.bluebackground{
    height:50%;
    width: 100%;
    background-color: #66b3ff;
    background-size:cover;
    background-position: center;
}
.nasabackground{
    height:100%;
    width: 100%;
    background-image: url(nasabackground.jpg);
    position: absolute;
    background-size:cover;
    background-position: top;
    margin-top:-1px;
}
.section{
    height: 100%;
}
.rivianbackground{
    height: calc(100% + 1px);
    width: 100%;
    background-image: url(rivianbackground.jpg);
    position: absolute;
    background-size:cover;
    background-position: 0% 0%;
    margin-top:1px;
}
.northropbackground{
    background-image: url(northropbackground.jpg);
    height:100%;
    width: 100%;
    background-size:cover;
    position: absolute;
    margin-top:-1px;
    background-position: center;
}
.l3background{
    height:100%;
    width: 100%;
    position: absolute;
    background-image: url(l3background.jpg);
    background-size:cover;
    background-position: center;
    margin-top: -1px;
}

.halfpagecontents{
    height: 50vh;
}

.page1contents{
    height: auto !important;
    position: relative;
    bottom: 0px;
}
.page2black{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: #000000;
    margin:0;
    color: white;
}
.page2tan{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: #c49370;
    margin:0;
}
.page2blue{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: #BCC3CB;
    margin:0;
}
.page2green{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: #bdc9a1;
    margin:0;
}
.page2white{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: #FFFFFF;
    margin:0;
}
